ul.social{
    list-style: none;
    padding: 0;
}

ul.social li{
    display: inline;
    margin: 0;
    padding: 7px;
}

.fa{
    font-size: 30pt;
    color: white;
    padding: 10px;
}

.fa-linkedin:hover{
    color: #0072b1;
}

.fa-github:hover{
    color: black;
}