<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Me encontre nas outras redes</h4>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank" class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">© 2022 Copyright: Juliana Souza </span>

    </div>
</footer>